<footer class="site-footer">

  <div class="container">

    <div class="grid -between">
        <div class="cell -3of12">
            <div class="card">
                <header class="card-header">Email</header>
                <div class="card-content">
                    <div class="inner"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
                </div>
            </div>
        </div>

        <div class="cell -8of12">
            <div class="card">
                <header class="card-header">{{ site.title }}</header>
                    <div class="card-content">
                        <div class="inner">{{ site.description }}</div>
                    </div>
            </div>
        </div>
    </div>

  </div>

</footer>
